html {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    zoom: 186%;
}


html.perim {
    zoom: 200%;
}

html.update {
    font-size: 105%;
}

.content {
    margin: auto auto;
}

.perimDate {
    font-size: 60%;
    padding-left: 15px;
}

.detailSubtitle {
    font-size: 50%;
    text-align: left;
    font-weight: normal;
}

.perim .perimDate {
    padding-left: 5px;
}

.perimCenter {
    background: red;
    color: white;
    font-size: 65%;
}

.perim .content {
    margin: 0;
}

.ol-scale-line { 
    left: auto;
    right: 8px;
    border-radius: 0;
    background: rgba(255,255,255,0.75);
    text-shadow: 0 0 2px #fff;
}

.ol-scale-line-inner {
    color: #000;
    border-color: #000;
}


.perim .ol-scale-line {
    bottom: unset;
    top: 8px;
    transform-origin: 100% 100% 0;
}

.mapTitle {
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-block;
    z-index: 1000000;
    text-shadow: 0 0 2px #fff;
}

.mapTitle h1 {
    text-align: left;
}


.ol-overviewmap-box {
    border: 2px dotted rgba(255,60,136,.7);
}
.ol-overviewmap:not(.ol-collapsed) {
    background: rgba(255,255,255,0);
}

.ol-attribution li:not(:last-child):after {
    content: "; ";
}

.ol-attribution li:first-child:before {
    content: "Sources: ";
}

.ol-attribution ul {
    line-height: initial;
    font: 8px 'Roboto';
    text-align: left;
}

.ol-attribution.ol-uncollapsible {
    height: unset;
    right: unset;
    left: 5px;
    bottom: 10px;
    border-radius: 0;
}

.ol-attribution:not(.ol-collapsed) {
    background: rgba(255,255,255,0.7);
}


h1 {
    color: black;
    background-color: rgb(162, 255, 182);
    margin-top: 0;
    margin-bottom: 0;
}

.perim h1 {
    background-color: white;
    font-size: 150%;
}

.perim .mapTitle h1 {
    background-color: rgba(255,255,255,0.7);
    padding: 3px;
    color:black;
}

body {
    font-size: 150%;
    text-align: center;
    border: none;
    margin: 0;
}

#qrcode {
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 999;
    float: right;
}

.perim #qrcode {
    bottom: auto;
    top: 0;
}

.update .cite {
    width: calc(100% - 130px);
    margin: 13px 2px 13px 2px;
}


.update .main-warn {
    padding: 5px 0;
}

.perim body {
    font-size: 80%;
    padding: 0;
    height: 100%;
}

html.perim {
    height: 100%;
    margin: 0
}

.perim .content {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.perim .banner, .perim .warn {
    flex: 0 1 auto;
}
.perim .map {
    flex: 1 1 auto;
}
.update .map {
    width: 400px;
    height: 400px;
}


.bigMap {
    width: 100%;
}

.smallMap {
    width: 100%;
    margin: auto;
}

table {
    width: 100%;
}

.important {
    font-size: 125%;
}

.data tr:nth-child(even) {
    background: #eee;
}

.previous {
    color: #666;
    padding-left: 10px;
    font-size: 60%;
}

.deltaUp {
    color: green;
    padding-right: 5px;
}

.deltaDown {
    color: red;
    padding-right: 5px;
}

.warn-icon {
    display: inline-block;
    width: 70px;
    padding-left: 10px;
}

.warn-content {
    display: inline-block;
    width: calc(100% - 80px);
    vertical-align: top;
}

.warn-icon svg {
    width: 100%;
    height: 100%;
}

.warn {
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 67.5%;
    font-weight: 600;
    text-align: center;
}

.update .warn-content {
    font-size: 100%;
    line-height: 130%;
    padding-top: 5px;
}

.perim .warn {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 105%;
}

.perim .warn-content {
    font-size: 120%;
    line-height: 130%;
    padding-top: 5px;
    padding-right: 75px;
    width: calc(100% - 80px - 75px);
}

.upd, .fireid {
    font-size: 70%;
    color: black;
}

.subwarn {
    font-size: 54%;
}

.cite {
    font-family: 'Roboto', sans-serif;
    font-size: 43%;
    width: 95%;
    margin: 13px auto;
}

.perim .cite {
    font-size: 75%;
    width: 98%;
    padding: 1px;
    margin: 0;
    font-weight: normal;
}

.innerWarn {
    padding: 5px;
}

.data td {
    text-align: left;
}
.data th {
    text-align: right;
}
.data td, th {
    padding: 5px;
}

.data .details {
    font-size: 70%;
    text-align: center;
}

.data .detailsRow {
    margin-top: 5px;
}

.data .detail {
    white-space: nowrap;
}

.detail-important {
    background-color: red;
    color: white;
    padding: 2px;
    width: 100%;
    display: block;
}

.detail + .detail:before {
    content: " — ";
}

.cite p {
    margin: 3px;
}